html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
/* BODY */
body {
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #1a73e8;
  margin-bottom: 10px;
}

input[type=text], input[type=number] {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

#mensaje2 {
  border: 2px solid #1a73e8;
  padding: 8px;
  background-color: #f0f8ff;
}


